.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1531584753252-94481cac13b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

#cont{
  display: flex;
  justify-content: center;
}

#logo{
  width: 330px;
  height: 330px;
}

.card-title{
  text-align: center;
}

.card:hover {
  transform: scale(1.1);
}

.bgr{
  background-color: #009688;
}

.bgrc{
  background-color: #00786D;
}